body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: Lato, sans-serif;
    color: #0D0000;
    overflow:hidden;
}

h1 {
    width: 300px;
    margin: 10px auto 10px auto;
   /* border: 3px solid black; */
    text-align: center;
    margin-top: 40px;
}

h3 {
    width: 300px;
    margin: 10px auto 10px auto;
    text-align: center;
    margin-bottom: 20px;
}

#front {
    margin: 10px auto;
    width: 240px;
    height: 250px; 
  /* height: 276px; */
    font-size: 30px;
    line-height: 200px;
    border: 3px solid black;
    text-align: center;

}

#front:hover {
    opacity: 50%;
    cursor: pointer;
}

.grid-container {
    margin: 10px auto;
    width: 245px;
    height: 250px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-row: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: 3px solid #333;
}

.def {
    width: 245px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;

}

.grid-container:hover {
    opacity: 50%;
    cursor: pointer;
}

.box {
    background-color: #333;
    color: #fff;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#next {
    
    width: 180px;
    height: 50px;
    line-height: 50px;
    border: 3px solid #333;
}

#next:hover {
    cursor: pointer;
    opacity: 50%;
    border: 4px solid #333;
}
